body {
  height: 100%;
  color: #8b949e !important;
  background-color: #0d1117 !important;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji";
  font-size: 14px !important;
}

.bg-dark-mild{
  background-color:$gray-500;
}

.border-dark-mild{
  border-color:$gray-500 !important;
}

.bg-dark-secondary{
  background-color:$gray-800;
}

.border-dark-secondary{
  border-color:$gray-700 !important;
}

.text-light-secondary{
 color: #c9d1d9;
}

.text-fire{
  color:#db6d28;
}

.text-pink{
  color:#db61a2;
}

.btn-outline-secondary:hover {
  color: #8b949e !important;
  background-color: #30363d!important;
  border-color: #8b949e !important;
}

.btn-sm:hover .icon-sponsor {
  transform: scale(1.1);
}
